.rt-accordian-container {
    position: relative;
}
.rt-accordian-item {
    padding: 0 10px 0 12px;
}
.rt-accordian-item-header {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 10px 15px;
    line-height: 1.5715;
    cursor: pointer;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f1F1F1;
}
.rt-accordian-item--open {
    /* display: block; */
    height: auto;
    padding: 20px;
    background-color: #fdfdfd;
    transition: all 0.15s ease-out;
    overflow: hidden;
}
.rt-accordian-item--close {
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: all 0.15s ease-out;
}
.rt-accordian-header {
    padding-left: 10px;
}
.rt-accordian-header--arrow {
    position: relative;
}
.rt-accordian-arrow--close {
    transform: rotate(0deg);
    transition: all .3s,visibility 0s;
}
.rt-accordian-header--arrow-left {
    padding-left: 30px;
}
.rt-accordian-header--arrow-right {
    padding-right: 20px;
}
.rt-accordian-arrow--left, .rt-accordian-arrow--right {
    position: absolute;
    top: 12px;
}
.rt-accordian-arrow--left {
    left: 6px;
}
.rt-accordian-arrow--right {
    right: 5px;
}
.rt-accordian--open .rt-accordian-arrow--left,  
.rt-accordian--open .rt-accordian-arrow--right {
    transform: rotate(90deg);
    transition: all .3s,visibility 0s;
}