[class^="rt-"] {
    color: #313131;
}
.rt-breadcrumb {
    display: flex;
    flex-direction: row;
}
.rt-breadcrumb-item {
    padding: 0 5px 0 0;
    cursor: pointer;
    display: inline-block;
}
.rt-leftmargin5 {
    display: inline-block;
    margin-left: 5px;
}



