.rt-btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.rt-btn--withradius {
  border-radius: 4px;
}
.rt-btn--primary {
  color: white;
  background-color: #1ea7fd;
}
.rt-btn--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.rt-btn--small {
  font-size: 12px;
  padding: 10px 16px;
}
.rt-btn--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.rt-btn--large {
  font-size: 16px;
  padding: 12px 24px;
}
