* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4b4b4b;
}
.rt-toast-wrapper {
    position: fixed!important;
    top: 20px;
    right: 50px;
    width: 384px;
    margin-bottom: 16px;
    margin-left: auto;
    overflow: hidden;
    line-height: 1.5715;
    word-wrap: break-word;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}
.rt-toast-wrapper--closable {
    height: 0;
    transition: height 0.15s ease-out;
}
.rt-toast--advance {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.rt-toast--advance .rt-toast-header{
    border-bottom: 1px solid #f0f0f0;
}
.rt-toast--advance .rt-toast-body {
    padding-top: 16px;
}
.rt-toast-header {
    position: relative;
    padding: 16px 0 10px;
}
.rt-toast-body {
    line-height: 1.5715;
    padding: 5px 0 20px;
}
.rt-toast-inner {
    padding-left: 16px;
    padding-right: 16px;
}
.rt-toast-title {
    line-height: 1.5715;
    font-size: 16px;
}
.rt-toast-bodydesc {
    line-height: 1.5715;
    font-size: 14px;
}
.rt-icon {
    cursor: pointer;
    vertical-align: middle;
}
.rt-icon--close {
    float: right;
}
.rt-icon--error {
    margin-right: 12px;
}
.rt-close-icon svg {
    vertical-align: middle;
}

.rt-toast-animation-class {
	position: fixed;
    right:50px;
    top:20px;
    width: 300px;
    height: auto;
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    animation-delay: 0s;
}

@keyframes example {
  0%   { right:-250px; }
  100% { right:50px; }
}