.rt-tooltip-wrapper {
    position: relative;
    display: inline-block;
}
.rt-tooltip-text {
    position: absolute;
    min-width: 100px;
    background-color: #333;
    padding: 10px 10px;
    font-size: 12px;
    color: #f1f1f1;
    z-index: 1;
    border-radius: 2px;
}
.rt-tooltip-arrow {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #333;
    transform: rotate(45deg);
    z-index: -1;
}
.rt-tooltip-arrow--align-right {
    left: -4px;
    top: 10px;
}
.rt-tooltip-arrow--align-left {
    right: -4px;
    top: 10px;
}
.rt-tooltip-arrow--align-bottom {
    left: 45%;
    top: -4px;
}
.rt-tooltip-arrow--align-top {
    left: 45%;
    bottom: -4px;
}
.rt-tooltip--align-right {
    left: 105%;
}
.rt-tooltip--align-left {
    right: 105%;
}
.rt-tooltip--align-bottom {
    left: -6px;
    top: 105%;
}
.rt-tooltip--align-top {
    left: -6px;
    bottom: 103%;
}